/* 


CSS rules to specify families 

font-family: 'Akronim', cursive;

font-family: 'Ballet', cursive;

font-family: 'Cherish', cursive;

font-family: 'Condiment', cursive; 

font-family: 'Fredoka One', cursive; 

font-family: 'Odibee Sans', cursive;

font-family: 'Permanent Marker', cursive;

font-family: 'Russo One',sans-serif;

font-family: 'Caveat', cursive;

font-family: 'Smooch', cursive;

*/

body{
  background: black;
}

.main {
  height: 70%;
display:inline-flex;
overflow: scroll;
}

.competições {
overflow: scroll;
float: left;
}

.lateral-nav {
  float: right;
}

.bottom{
  height: 15%;
}
.lista {
  border-radius: 8px;
  background: #fff;
  width: 150px;
  height: 150px;
  margin: 5px;
  display: inline-table;
}

.lista:hover {
  transform: scale(1.5);
  transition: 1s;
  transition-delay: 0.1s;
  box-shadow: 1px 1px 1px 2px #cb09d6;
}

.lista ul {
  list-style: none;
  text-decoration: none;
}


iframe {
  border-radius: 30px;
  border: 1px solid black;
  width: 250px;
  height: 280px;
  background: white;
  
   }

a:hover { color: #3b3b3b;
  border-radius: 35px; }

.rzn {
  background-color: #470d3b; 
  text-align: center;
  font-size:30px;
  border-radius: 7px;
}

.rzn p:hover { color: #cc982a; 
  
}

.social { width: 100%; 
  background-color: #470d3b; 
  text-align: center;
  height: 50px;
}

.social li { display: inline; 
 }

.social img { width: 50px;
  height: 50px; }

.rodape { display: flex; 
   }

.rodape a { color: aliceblue; 
  
}
 
.rodape a:hover{ color: #cc982a;
  border-radius: 35px; }
 

