/* 


CSS rules to specify families 

font-family: 'Akronim', cursive;

font-family: 'Ballet', cursive;

font-family: 'Cherish', cursive;

font-family: 'Condiment', cursive; 

font-family: 'Fredoka One', cursive; 

font-family: 'Odibee Sans', cursive;

font-family: 'Permanent Marker', cursive;

font-family: 'Russo One',sans-serif;

font-family: 'Caveat', cursive;

font-family: 'Smooch', cursive;

*/

body{
  background: black;
}

.competições {
max-width: 70%;
max-height: 80%;
float: left;
background: yellow;
}

.lateral-nav {
  max-width: 25%;
  max-height: 80%;
  align-items: center;
  margin: 5px;
  background: red;
  float: right;
  position: relative;
}

.lista {
  display: inline-block;
  border-radius: 8px;
  background: #fff;
  width: 150px;
  height: 150px;
  overflow-x: scroll;
  margin: 5px;
}

.lista:hover {
  transform: scale(1.5);
  transition: 1s;
  transition-delay: 0.1s;
  box-shadow: 1px 1px 1px 2px #cb09d6;
}

.lista a:hover {
  color: #c4b432;
}

.lista li:hover {
  transform: scale(1.3);
  transition: 1s;
  transition-delay: 0.1s;
}


.lista ul {
  list-style: none;
  text-decoration: none;
}


iframe {
  border-radius: 30px;
  border: 1px solid black;
  background: #fff;
   }

a:hover { color: #3b3b3b;
  border-radius: 35px; }

.rzn { width: 100%;
  background-color: #470d3b; 
  font-family: 'Smooch', cursive;
  text-align: center;
  font-size:60px;
  border-radius: 7px;
  clear: both;}

.rzn p:hover { color: #cc982a; 
  
}

.social { width: 100%; 
  background-color: #470d3b; 
  text-align: center; 
}

.social li { display: inline; 
 }

.social img { width: 50px;
  height: 50px; }

.rodape { display: flex; 
   }

.rodape a { color: aliceblue; 
  
}
 
.rodape a:hover{ color: #cc982a;
  border-radius: 35px; }
 

